<app-nav></app-nav>
<!-- landing -->
<div class="container-fluid">
    <div class="row" id="rowHome">
        <div class="col-12 col-sm-12">
            <div id="divLanding">
                <img src="../../../assets/shape-general.jpg" class="imgShapes">
                <img src="../../../assets/shape-general.jpg" class="imgShapes">
                <div id="descLanding">
                    <div id="divDescLanding">
                        <h3>Welcome to thinktranslations</h3>
                        <p>We translate all types of documents, with the speed and quality that you need.</p>
                        <p><span>We match the price</span> of other quotes and include a <span>5%</span> discount on it.</p>
                        <a href="#rowContact"><button id="btnLanding"><i class="fas fa-pencil-alt"></i> Get a quote.</button></a>
                    </div>
                    <div id="divImgLanding">
                        <img src="../../../assets/landing-img.png" id="imgLanding">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sobre nosotros -->
    <div class="row" id="rowAboutUs">
        <div class="col-12 col-lg-12" id="colSobre">
            <img src="../../../assets/shape-general.jpg" id="spotSobre">
            <div id="sobreNosotros">
                <div id="divSobreNosotros">
                    <h3 class="txtSobre">About us</h3>
                    <p class="txtSobre">We are a company that provides translation and interpretation services for various languages.</p>
                    <p class="txtSobre">At Think Translations, we like to work quickly,</p>
                    <p class="txtSobre">without compromising the precision and quality of each delivery.</p>
                    <p class="txtSobre">this has earned us the trust and loyalty of our clients.</p>
                </div>
                <div id="divImgSobre">
                    <img src="../../../assets/sobre-nosotros.png" id="imgSobre" alt="Sobre Nosotros">
                </div>
            </div>
        </div>
    </div>
    <!-- servicios -->
    <div class="row" id="rowServices">
        <div class="col-10 col-lg-10 col-md-10 col-sm-10" id="colServicios">
            <!-- <img src="../../../assets/shape-general.jpg" id="imgServicios"> -->
            <div id="divServicios">
                <h3>Services</h3>
                <div>
                    <div id="divItemServ">
                        <div>
                            <h6>Document translations:</h6>
                            <p><i class="fas fa-file-signature"></i> Medical</p>
                            <p><i class="fas fa-file-signature"></i> Technical</p>
                            <p><i class="fas fa-file-signature"></i> Magazines</p>
                            <p><i class="fas fa-file-signature"></i> Books</p>
                            <p><i class="fas fa-file-signature"></i> Marriage Certificates</p>
                            <p><i class="fas fa-file-signature"></i> Educational material</p>
                            <p><i class="fas fa-file-signature"></i> School credits</p>
                            <p><i class="fas fa-file-signature"></i> Legals</p>
                            <p><i class="fas fa-file-signature"></i> patents</p>
                            <p><i class="fas fa-file-signature"></i> Subtitiling services</p>
                        </div>
                        <div>
                            <h6>Transcription service:</h6>
                            <p><i class="fas fa-file-signature"></i> Video, audio and interview transcription services</p>
                            <p><i class="fas fa-file-signature"></i> websites, among others</p>
                        </div>
                        <div>
                            <h6> Interpretation service:</h6>
                            <p><i class="fas fa-file-signature"></i> Remote interpreting services</p>
                            <p><i class="fas fa-file-signature"></i> Telephone and video (digital platforms)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mision y vision -->
    <div class="row" style="position: relative; overflow: hidden; padding-bottom: 50px; border: 1px solid rgb(236, 236, 236);">
        <img src="../../../assets/shape-general.jpg" id="imgEmpresa">
        <div class="col-12 col-lg-12" id="colCarrusel">
            <h3>Our company</h3>
            <div id="carrusel">
                <div class="imgCarrusel animate__animated animate__fadeIn">
                    <div class="empresa">
                        <h6 class="tituloEmpresa">Mission</h6>
                        <p class="txtEmpresa">Helping people of different cultures communicate with each other</p>
                        <p class="txtEmpresa">with precision and quality through personalized translation</p>
                        <p class="txtEmpresa">and interpretation services for individuals, organizations and businesses of all sizes.</p>
                    </div>
                    <img src="../../../assets/mision.png" alt="Misión" class="imgs">
                </div>
                <div class="imgCarrusel animate__animated animate__fadeIn">
                    <div class="empresa">
                        <h6 class="tituloEmpresa">Vision</h6>
                        <p class="txtEmpresa">To become a mandatory reference for all linguistic needs in Panama and the world.</p>
                    </div>
                    <img src="../../../assets/vision.png" alt="Visión" class="imgs">
                </div>
            </div>
        </div>
    </div>
    <!-- contacto -->
    <div class="row" id="rowContact" style="position: relative; display: flex; justify-content: center; align-items: center;">
        <div class="col-12 col-lg-10 col-sm-12" id="colContacto">
            <div id="divContacto">
                <h3>Contact</h3>
                <div id="divContacForm">
                    <div id="mapa">
                        <p>Address: Paraiso, Ancon 359-A </p>
                        <p style="padding: 0px; margin-top: -25px; font-size: 1.1rem; margin-bottom: 25px;">Tel: (507)838-8681</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.4077902782224!2d-79.62213498474503!3d9.02651369151208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca76e937a2917%3A0x1fdc223a0b6b5174!2sAv%20Omar%20Torrijos%20Herrera%20359!5e0!3m2!1ses!2spa!4v1610912892810!5m2!1ses!2spa"
                            frameborder="0" aria-hidden="false"></iframe>
                    </div>
                    <div id="formulario">
                        <form [formGroup]="forma" (ngSubmit)="enviarCorreo()">
                            <div id="divLogoForm">
                                <img src="../../../assets/logo-whats-blanco.png" alt="thinktranslation">
                            </div>
                            <p>Do you have a question?</p>

                            <!-- nombre -->
                            <small *ngIf="nombreNoValido" class="text-danger">* Minimum 3 characters, maximum 30</small>
                            <input type="text" id="nombre" name="nombre" formControlName="nombre" placeholder="Name...">

                            <!-- correo -->
                            <small *ngIf="correoNoValido" class="text-danger">* Enter a valid email</small>
                            <input type="text" id="correo" name="correo" formControlName="correo" placeholder="Email...">

                            <!-- mensaje -->
                            <small *ngIf="mensajeNoValido" class="text-danger">* Minimum 5 characters, maximum 500</small>
                            <textarea name="mensaje" id="mensaje" cols="30" rows="7" formControlName="mensaje" placeholder="Let us know your question..."></textarea>
                            <button type="submit" #botonFormulario><i class="fas fa-envelope"></i> Send message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../../assets/shape-general.jpg" id="spotContacto">
    </div>
    <!-- boton whatsap -->
    <a href="https://api.whatsapp.com/send?phone=50764209554&text=Hello,%20i%20have%20a%20question" target="_blank"> <i id="botonWhats" class="fab fa-whatsapp"></i></a>
</div>
<app-foot></app-foot>