<app-navegacion></app-navegacion>
<!-- landing -->
<div class="container-fluid">
    <div class="row" id="rowInicio">
        <div class="col-12 col-sm-12">
            <div id="divLanding">
                <img src="../../../assets/shape-general.jpg" class="imgShapes">
                <img src="../../../assets/shape-general.jpg" class="imgShapes">
                <div id="descLanding">
                    <div id="divDescLanding">
                        <h3>Bienvendi@ a thinktranslations</h3>
                        <p>Traducimos todo tipo de documentos, con la rapidez y calidad que usted necesita.</p>
                        <p><span>Igualamos el precio</span> de otras cotizaciones y le incluimos un <span>5%</span> de descuento a la misma.</p>
                        <a href="#rowContacto"><button id="btnLanding"><i class="fas fa-pencil-alt"></i> Cotice sin compromiso</button></a>
                    </div>
                    <div id="divImgLanding">
                        <img src="../../../assets/landing-img.png" id="imgLanding">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sobre nosotros -->
    <div class="row" id="rowSobre">
        <div class="col-12 col-lg-12" id="colSobre">
            <img src="../../../assets/shape-general.jpg" id="spotSobre">
            <div id="sobreNosotros">
                <div id="divSobreNosotros">
                    <h3 class="txtSobre">Sobre nosotros</h3>
                    <p class="txtSobre">Somos una empresa que presta los servicios de traducción e Interpretación de diversos idiomas.</p>
                    <p class="txtSobre">En Think Translations, nos gusta trabajar con prontitud,</p>
                    <p class="txtSobre">sin comprometer la precisión y calidad de cada entrega.</p>
                    <p class="txtSobre">Esto nos ha hecho acreedores de la confianza y lealtad de nuestros clientes.</p>
                </div>
                <div id="divImgSobre">
                    <img src="../../../assets/sobre-nosotros.png" id="imgSobre" alt="Sobre Nosotros">
                </div>
            </div>
        </div>
    </div>
    <!-- servicios -->
    <div class="row" id="rowServicios">
        <div class="col-10 col-lg-10 col-md-10 col-sm-10" id="colServicios">
            <!-- <img src="../../../assets/shape-general.jpg" id="imgServicios"> -->
            <div id="divServicios">
                <h3>Nuestros servicios</h3>
                <div>
                    <div id="divItemServ">
                        <div>
                            <h6>Traducciones de documentos:</h6>
                            <p><i class="fas fa-file-signature"></i> Médicos</p>
                            <p><i class="fas fa-file-signature"></i> Técnicos</p>
                            <p><i class="fas fa-file-signature"></i> Revistas</p>
                            <p><i class="fas fa-file-signature"></i> Libros</p>
                            <p><i class="fas fa-file-signature"></i> Certificados matrimoniales</p>
                            <p><i class="fas fa-file-signature"></i> Material educativo</p>
                            <p><i class="fas fa-file-signature"></i> Créditos escolares</p>
                            <p><i class="fas fa-file-signature"></i> Legales</p>
                            <p><i class="fas fa-file-signature"></i> Patentes</p>
                            <p><i class="fas fa-file-signature"></i> Servicios de subtitulado</p>
                        </div>
                        <div>
                            <h6>Servicio de transcripción:</h6>
                            <p><i class="fas fa-file-signature"></i> Servicios de transcripción de videos, audios y entrevistas</p>
                            <p><i class="fas fa-file-signature"></i> Sitios web entre otros</p>
                        </div>
                        <div>
                            <h6>Servicio de interpretación:</h6>
                            <p><i class="fas fa-file-signature"></i> Servicios de Interpretación presenciales</p>
                            <p><i class="fas fa-file-signature"></i> Telefónicas y video remotas (plataformas digitales)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mision y vision -->
    <div class="row" style="position: relative; overflow: hidden; padding-bottom: 50px; border: 1px solid rgb(236, 236, 236);">
        <img src="../../../assets/shape-general.jpg" id="imgEmpresa">
        <div class="col-12 col-lg-12" id="colCarrusel">
            <h3>Nuestra empresa</h3>
            <div id="carrusel">
                <div class="imgCarrusel animate__animated animate__fadeIn">
                    <div class="empresa">
                        <h6 class="tituloEmpresa">Misión</h6>
                        <p class="txtEmpresa">Ayudar a personas de distintas culturas a comunicarse entre si</p>
                        <p class="txtEmpresa">con precisión y calidad a través de los servicios de traducción</p>
                        <p class="txtEmpresa">e interpretación personalizadas para individuos, organizaciones y empresas de todos los tamaños.</p>
                    </div>
                    <img src="../../../assets/mision.png" alt="Misión" class="imgs">
                </div>
                <div class="imgCarrusel animate__animated animate__fadeIn">
                    <div class="empresa">
                        <h6 class="tituloEmpresa">Visión</h6>
                        <p class="txtEmpresa">Convertirnos en referente obligatorio para toda necesidad lingüística en Panamá y el mundo.</p>
                    </div>
                    <img src="../../../assets/vision.png" alt="Visión" class="imgs">
                </div>
            </div>
        </div>
    </div>
    <!-- contacto -->
    <div class="row" id="rowContacto" style="position: relative; display: flex; justify-content: center; align-items: center;">
        <div class="col-12 col-lg-10 col-sm-12" id="colContacto">
            <div id="divContacto">
                <h3>Contacto</h3>
                <div id="divContacForm">
                    <div id="mapa">
                        <p>Dirección: Paraiso, Ancon 359-A </p>
                        <p style="padding: 0px; margin-top: -25px; font-size: 1.1rem; margin-bottom: 25px;">Tel: (507)838-8681</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.4077902782224!2d-79.62213498474503!3d9.02651369151208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca76e937a2917%3A0x1fdc223a0b6b5174!2sAv%20Omar%20Torrijos%20Herrera%20359!5e0!3m2!1ses!2spa!4v1610912892810!5m2!1ses!2spa"
                            frameborder="0" aria-hidden="false"></iframe>
                    </div>
                    <div id="formulario">
                        <form [formGroup]="forma" (ngSubmit)="enviarCorreo()">
                            <div id="divLogoForm">
                                <img src="../../../assets/logo-whats-blanco.png" alt="thinktranslation">
                            </div>
                            <p>Realice su consulta...</p>

                            <!-- nombre -->
                            <small *ngIf="nombreNoValido" class="text-danger">* Mínimo 3 carácteres, máximo 30</small>
                            <input type="text" id="nombre" name="nombre" formControlName="nombre" placeholder="Nombre...">

                            <!-- correo -->
                            <small *ngIf="correoNoValido" class="text-danger">* Ingrese un correo válido</small>
                            <input type="text" id="correo" name="correo" formControlName="correo" placeholder="Correo...">

                            <!-- mensaje -->
                            <small *ngIf="mensajeNoValido" class="text-danger">* Mínimo 5 carácteres, máximo 500</small>
                            <textarea name="mensaje" id="mensaje" cols="30" rows="7" formControlName="mensaje" placeholder="Escriba su consulta..."></textarea>
                            <button type="submit" #botonFormulario><i class="fas fa-envelope"></i> Enviar mensaje</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../../assets/shape-general.jpg" id="spotContacto">
    </div>
    <!-- boton whatsap -->
    <a href="https://api.whatsapp.com/send?phone=50764209554&text=Hola,%20quisiera%20hacerle%20una%20pregunta" target="_blank"> <i id="botonWhats" class="fab fa-whatsapp"></i></a>
</div>
<app-footer></app-footer>