<div class="container-fluid" id="navContainer">
    <div class="row">
        <div class="col-12" id="colNav">
            <nav>
                <div id="divLogo">
                    <!-- <img src="" alt="thinktranslation.com"> -->
                    <h3>thinktranslations</h3>
                </div>
                <div id="enlaces">
                    <ul>
                        <a href="#rowHome">
                            <li>Home</li>
                        </a>
                        <a href="#rowAboutUs">
                            <li>About us</li>
                        </a>
                        <a href="#rowServices">
                            <li>Services</li>
                        </a>
                        <a href="#rowContact">
                            <li>Contact</li>
                        </a>
                    </ul>
                </div>
                <div id="selecIdioma">
                    <i class="fas fa-globe-americas"></i>
                    <select name="selecIdioma" id="selecIdioma" (change)="selectIdioma($event)">
                        <option value="en">English</option>
                        <option value="es">Spanish</option>
                    </select>
                </div>
                <div id="botonToggle" #botonToggle (click)="mostrarMenu($event)">
                    <i class="fas fa-bars"></i>
                </div>
                <div id="navToggle" class="animate__animated" #navToggle>
                    <ul>
                        <a href="#rowHome">
                            <li>Inicio</li>
                        </a>
                        <a href="#rowAboutUs">
                            <li>Sobre nosotros</li>
                        </a>
                        <a href="#rowServices">
                            <li>Servicios</li>
                        </a>
                        <a href="#rowContact">
                            <li>Contacto</li>
                        </a>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>