<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-12" id="colRedes">
            <footer>
                <p><i class="far fa-copyright"></i> Thinktranslation | All rights reserved - {{anio}}</p>
                <div id="divRedes">
                    <a href="https://www.instagram.com/thinktranslationspty" target="_blank"><img src="../../../assets/instagram.png" alt="Instagram"></a>
                </div>
            </footer>
        </div>
    </div>
</div>